/* 头部 */
p {
    margin: 0;
}

body>button {
    position: fixed;
    bottom: 0;
    right: 5%;
    z-index: 11;
    color: #fff;
    background-color: #3C90DC;
    font-weight: 900 !important;
}

#box {
    background-color: #F0F1F2;
    position: fixed;
    bottom: 33px;
    right: 5%;
    width: 300px;
    border: 1px solid #e1e3e6;
    z-index: 11;
    border-radius: 5px;
    display: none;
}

#box .title {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C90DC;
}

#box .title i {
    color: #fff;
    padding-left: 10px;
}

#box .title button {
    border: none;
    margin: 0;
    padding-right: 10px;
}


#box .contentText {
    width: 100%;
    height: 350px;
    background-color: #F0F1F2;
    padding: 10px;
    box-sizing: border-box;
    /* 超出时有滚动条 */
    overflow: auto;
}

#box .content {
    width: 100%;
    float: left;
}

#box .content li {
    padding: 5px;
    line-height: 2;
    border-radius: 5px;
    clear: both;
}

#box textarea {
    height: 80px;
    display: block;
    margin: auto;
    width: 100%;
    border: 1px solid #e1e3e6;

}

#box .activeLeft {
    float: left;
    background-color: #62a3df;
    color: #fff;
}

#bClose {
    background-color: #3C90DC;
}

#box .active {
    margin: 10px 0;
    float: right;
    background-color: #5BC0DE;
    color: #fff;
}

#box .enter {
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

#box .enter button {
    width: 40px;
    height: 32px;
    margin-top: 10px;
    color: #fff;
    background-color: #3C90DC;
}

#box p {
    color: #ccc;
    font-size: 10px;
}








#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    height: 55px;
    background-color: transparent;
    /* background-color: #ff0000; */
    color: #222;
    z-index: 20;
    transition: background .2s ease-in-out;
}

.header {
    height: 55px;
    background: url('https://muse.huaban.com/assets/0477e743072134634690da795644cd26.svg') no-repeat left center;
}

.header.later {
    background: url('https://muse.huaban.com/assets/c257ccb2a5a50804cc67d3cc09c3f337.svg') no-repeat left center;
}

.header .hIndex {
    border-bottom: 2px solid #C0A75E !important;
}

.appear {
    display: block !important;
}

.hidden {
    display: none !important;
}

.navbar.navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 5px;
    color: #fff;
}

.nav.navbar-nav.ul1 {
    padding-left: 192px;
}

.nav.navbar-nav.ul1 li a {
    color: #fff;
    margin: 0;
    border: none;
    
}
.nav.navbar-nav.ul1 .dropdown-menu li a{
    width: 160px;
}

/* .navbar-nav>li>.dropdown-menu{
    width: 250px;
    display: flex;
    column-count: 2;
    flex-direction: row !important;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between
} */
.navbar-nav>li>.dropdown-menu>li>a {
    width: 112px;
}

#login {
    margin-top: 8px;
    width: 63px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff;
}

.changeBc {
    background-color: #ccc !important;
}

.changeC {
    color: #000 !important;
}

.loginBtn {
    width: 200px !important;
}

#register {
    margin-top: 8px;
    width: 63px;
    height: 30px;
    background-color: #c0a75e;
}

.ul2>li>button:nth-child(1) {
    margin-right: 14px;
}

.ul1 .dropdown-menu {
    margin-top: 13px;
    border: none;
}

.ul1 .dropdown-menu li a {
    /* margin: 0; */
    width: 160px;
    color: #000 !important;
}

.ul1 .dropdown-menu li a:hover {
    color: #EB6013 !important;
}



/* 轮播图 */
.swiper-pagination-bullet-active {
    background-color: #fff;
    border: 2px solid #E8E8E8;
}

.swiper-container {
    height: 543px;
    width: 100%;
}

.swiper-wrapper {
    height: 543px;
    width: 100%;
    position: relative;
}

.swiper-slide>img {
    width: 100%;
    height: 100%;
}

#img1 {
    width: 400px;
    height: 170px;
    z-index: 1000;
    position: absolute;
    left: 242px;
    top: 140px;
}

#bannerBtn {
    z-index: 1000;
    position: absolute;
    left: 242px;
    top: 332px;
}

#bannerBtn>button {
    width: 98px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    opacity: .8;
}

#bannerBtn>button:hover {
    opacity: 1;
}

#bannerBtn>button:nth-child(1) {
    margin-right: 25px;
    background-color: #c0a75e;
    border: none;
}

/* 文字宣传publicity */
#publicity {
    height: 434px;
    width: 100%;
    background-color: #fff;
}

.publicity>h3 {
    height: 100px;
    line-height: 110px;
    font-weight: 100;
    font-size: 20px;
}

.pContainer {
    display: flex;
    justify-content: space-evenly;
}

.pContainer .thumbnail {
    width: 236px;
}

.pContainer .thumbnail h3 {
    margin-top: 10px;
}

.pContainer .thumbnail p {
    font-size: 10px;
    color: #999999;
    text-align: center;
    margin-top: 24px;
}

/* find设计师 */
#find {
    height: 593px;
    background-color: #f7f7f7;
}

.find>h3 {
    height: 100px;
    line-height: 110px;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.find>h3>span {
    border-bottom: 2px solid #c0a75e;
    padding-bottom: 30px;
}

#find .findRow {
    display: flex;
    justify-content: space-between;
}

#find .findRow:nth-child(1) {
    margin-bottom: 2px;
}

#find .findRow p {
    margin: 0;
    margin-top: 18px;
    text-align: center;
}

#find .findRow>a {
    border: 1px solid #ccc;
    height: 143px;
    border: none;
    width: 175px;
}

#find .findRow>a>img {
    margin-top: 15px;
}

#find .thumbnail {
    margin-bottom: 0;
}

#find .findRow>a:hover {
    border: none;
    box-shadow: 0 0 0 2px #FFF, 0 2px 20px 2px rgba(0, 0, 0, .03), 0 24px 30px 2px rgba(0, 0, 0, .04);
    transform: translateY(-2px);
    z-index: 1;
}

.find h5 {
    height: 70px;
    line-height: 80px;
    color: #999999;
    text-align: center;
}

.find .findBtn {
    text-align: center;
}

.find .findBtn .btn {
    background-color: #f7f7f7;
    border: 1px solid #000;
}

.find .findBtn .btn:nth-child(2) {
    margin-left: 20px;
}

.find .findBtn .btn:hover {
    background-color: #000;
    color: #fff;
}


#design {
    height: 472px;
    width: 100%;
    background-color: #f7f7f7;
}

.design h3 {
    height: 92px;
    line-height: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
}

.design .findRow {
    display: flex;
    justify-content: space-evenly;
}

.design .thumbnail {
    width: 326px;
    height: 296px;
    border: none;
    position: relative;
}

.design .thumbnail:hover {
    border-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .03), 0 24px 30px rgba(0, 0, 0, .04);
    transform: translateY(-2px);
}

.design .thumbnail p:nth-of-type(1) {
    color: #c5af70;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.design .thumbnail p:nth-of-type(2) {
    font-size: 12px;
    color: #999999;
    text-align: center;
}

.littleImg {
    position: absolute;
    top: 207px;
    left: 138px;
}


/* 设计师 */

#stylists {
    height: 890px;
    width: 100%;
}

#stylists .left {
    width: 50%;
    height: 742px;
    display: flex;
    flex-direction: column;
}

#stylists .left .stylist1 {
    margin-bottom: 137px;
}

#stylists .right {
    width: 50%;
    height: 742px;
}

.stylists>h3 {
    height: 109px;
    font-size: 20px;
    text-align: center;
    line-height: 109px;
    margin-bottom: 20px;
}

.stylists>h3>span {
    border-bottom: 2px solid #c0a75e;
    padding-bottom: 30px;
}

.stylist {
    width: 506px;
    height: 280px;
}

.stylist img {
    height: 280px;
    width: 249px;
}

.stylist .detail {
    height: 280px;
    width: 257px;
    background-image: linear-gradient(to right, #f3f3f3, #f3f3f3 200px, transparent 200px, transparent);
}

.stylist1 .detail,
.stylist2 .detail,
.stylist3 .detail {
    position: relative;
}

.stylist .detailChild {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
}

.stylist .detailChild1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;

}

.detailName {
    font-size: 13px;
    color: #c0a75e;
    margin: 21px 0 11px 0;
}

.detailUser {
    margin-bottom: 12px;
    font-weight: 900;
    font-size: 25px;
    cursor: wait;
}

.detailUser:hover {
    color: #c0a75e;
}

.cursorW {
    cursor: wait;
}

.cursorP {
    cursor: pointer;
}

.stylist3 {
    margin-top: 170px;
}

.dLinear {
    height: 0;
    width: 98px;
    border: 1px solid #000;
}

.detailContent {
    margin-top: 31px;
    color: #9d9d9d;
    font-size: 12px;
    line-height: 23px;
}

.stylist3 .detail {
    background-image: linear-gradient(to left, #f3f3f3, #f3f3f3 200px, transparent 200px, transparent);
}


/* 成功项目实例 */

#project {
    height: 672px;
    width: 100%;
    background-color: #f7f7f7;
}

.project {
    height: 672px;
}

.project>h3 {
    height: 109px;
    font-size: 20px;
    text-align: center;
    line-height: 109px;
    margin-bottom: 20px;
}

.project>h3>span {
    border-bottom: 2px solid #c0a75e;
    padding-bottom: 30px;
}

.project .swiper-wrapper {
    display: flex;
}

.project .swiper-slide {
    width: 324px;
    height: 482px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.project .swiper-slide:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .04), 0 0 0 1px rgba(0, 0, 0, .01);
    transform: translateY(-2px);
}

.project .swiper-slide img {
    height: 330px;
}

.project .swiper-slide p:nth-child(2) {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    padding-top: 27px;
    padding-bottom: 16px;
    background: url('../image/little.png') no-repeat bottom center;
}

.project .swiper-slide p:nth-child(3) {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #c0a77f;
}


.project .swiper-button-next {
    color: #ccc;
}

.project .swiper-button-prev {
    color: #ccc;
}

.project .swiper-pagination>span {
    width: 16px;
    height: 16px;
    /* background-color: #fff; */
}

/*find1*/
#find1 {
    height: 353px;
    background-color: #fff;
}

.find1>h3 {
    height: 100px;
    line-height: 110px;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.find1>h3>span {
    border-bottom: 2px solid #c0a75e;
    padding-bottom: 30px;
}

#find1 .findRow1 {
    display: flex;
    justify-content: space-between;
}

#find1 .findRow1:nth-child(1) {
    margin-bottom: 2px;
}

#find1 .findRow1 p {
    margin: 0;
    margin-top: 18px;
    text-align: center;
}

#find1 .findRow1>a {
    border: 1px solid #ccc;
    height: 60px;
    border: none;
    width: 175px;
    background-color: #f8f8f8;
}

#find1 .findRow1>a>img {
    margin-top: 15px;
}

#find1 .thumbnail {
    margin-bottom: 0;
}

#find1 .findRow1>a:hover {
    border: none;
    background-color: #f7f7f7;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .07), 0 0 0 2px #f7f7f7;
    color: #000;
    z-index: 1;
}

/* others */
#others {
    height: 364px;
    background-color: #f7f7f7;
}

.others {
    height: 364px;
}

.others img {
    margin-top: 10px;
    width: 100%;
    height: 190px;
}

.others>h3 {
    height: 100px;
    line-height: 110px;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.others>h3>span {
    border-bottom: 2px solid #c0a75e;
    padding-bottom: 30px;
}


#links {
    height: 262px;
    width: 100%;
    background-color: #333333;
}

.links {
    height: 262px;

}


.links>h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 900;
    height: 52px;
    line-height: 60px;
}

.links .linksD {
    display: flex;
    height: 210px;
}

.links .linksUl {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.links .linksUl li>a {
    font-size: 12px;
    color: #fff;
    line-height: 29px;
}

.links .linksUl li>a:hover {
    color: #000;
}

.links .weChat {
    position: relative;
}

.links .qrCode {
    position: absolute;
    top: -80px;
    left: 29px;
    opacity: 0;
}

.links .linksUl span {
    line-height: 44px;
    font-size: 12px;
    color: #999999;
}

.links .linksUl li:hover {
    color: #000;
}

#copy {
    height: 52px;
    background-color: #222222;
}

.copy {
    height: 52px;
    text-align: left;
    line-height: 52px;
    color: #999999;
    font-size: 12px;
}